@model ProdutoModel
@{
    ViewData["Title"] = "Criar Produto";
}

<div class="text-center">
    <h1 class="display-4">Cadastrar Produto</h1>
</div>

<form asp-controller="Produto" asp-action="Adicionar" method="post">
    <div class="form-group">
        <label for="descricao">Descrição</label>
        <input type="text" asp-for="Descricao" class="form-control" placeholder="Digite a descrição do produto">
        @Html.ValidationMessageFor(x => x.Descricao)
    </div>

    <div class="form-group">
        <label for="valorcusto">Valor Custo</label>
        <input type="text" inputmode="decimal"  asp-for="ValorCusto" class="form-control" placeholder="Digite o valor de custo do produto">
        @Html.ValidationMessageFor(x => x.ValorCusto)
    </div>

    <div class="form-group">
        <label for="valorvenda">Valor Venda</label>
        <input type="text" inputmode="decimal"  asp-for="ValorVenda" class="form-control" placeholder="Digite o valor de venda do produto">
        @Html.ValidationMessageFor(x => x.ValorVenda)
    </div>

    <div class="form-group">
        <label for="estoque">Estoque</label>
        <input type="text" inputmode="decimal" asp-for="Estoque" class="form-control" placeholder="Digite o estoque do produto">
        @Html.ValidationMessageFor(x => x.Estoque)
    </div>

    <button type="submit" class="btn btn-primary" asp-controller="Produto" asp-action="Adicionar">Adicionar</button>
    <a class="btn btn-secondary" asp-controller="Produto" asp-action="Index" role="button">Voltar</a>
</form>

