@model UsuarioModel
@{
    ViewData["Title"] = "Login";
}

<h1 class="display-4">Login</h1>

<form asp-controller="Login" asp-action="Logar" method="post">

    <br />

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <!-- Email input -->
    <div class="form-outline mb-4">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" asp-for="Email" placeholder="Informe o email" />
        @Html.ValidationMessageFor(x => x.Email)
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
        <label class="form-label">Senha</label>
        <input type="password" class="form-control" asp-for="Senha" placeholder="Informe a senha" />
        @Html.ValidationMessageFor(x => x.Senha)
    </div>

    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
        <div class="col">
            <!-- Simple link -->
            <a href="#!">Recuperar senha?</a>
        </div>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Entrar</button>

    <!-- Register buttons -->
    <div class="text-center">
        <p>Não possuí conta? <a role="link" asp-controller="Usuario" asp-action="Registrar">Registrar</a></p>
    </div>
</form>